body {
  background: url("http://localhost/Diagnosa/public/Asset/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: thistle;
  height: 400px;
  width: 50%;
  margin-top: 8%;
  padding-top: 30px;
}

.custom {
  margin-top: 10px;
  width: 200px;
  border-radius: 20px;
}

.custom-daftar {
  margin-top: 10px;
}
