body {
  background: url("http://localhost/Diagnosa/public/Asset/ocean.jpg");
}
/* halaman index user */
.navbar {
  background-color: #fff;
  height: 80px;
  margin: 10px 20px;
  border-radius: 20px;
  padding: 5px;
}

.navbar-brand {
  font-weight: 1000;
  color: orangered;
  font-size: 30px;
  transition: 2.4;
}

.login-button {
  background-color: crimson;
  color: #f1f1f1;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.5s background-color;
}
.login-button:hover {
  background-color: tomato;
}

.navbar-toggler {
  border: none;
  font-size: 2rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

a.nav-link {
  color: gray;
  font-weight: 700;
  position: relative;
  margin-right: 10px;
}
a.nav-link:hover,
a.nav-link:active {
  color: #000;
}

@media (min-width: 998px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: aquamarine;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover:before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.hero-section {
  margin: 0 10 0 10;
  background-color: bisque;
  width: 90%;
  margin: auto;
  margin-top: 100px;
}

.hero-section::before {
  /* background-color: rgba(red, green, blue, alpha); */
  content: "";
  /* position: absolute; */
  margin: 0;
}
.container-hero {
  /* position: absolute;
  z-index: 1; */
  background-color: #e7ecef;

  /* margin-left: 10%;
  margin-right: 10%; */
}
img.ukuran {
  width: 350px;
  height: 350px;
}

.btn-diagnosa {
  background-color: crimson;
}
.btn-diagnosa:hover {
  background-color: tomato;
}

/* halaman penyakit */

/* halaman diagnosa */
div.jenis-ikan {
  margin-bottom: 10px;
  @media screen {
  }
}
.label-jenis {
  background-color: aqua;
  border-radius: 50px;
  margin: 5px;
}
.label {
  opacity: 0;
  transition: opacity 0.3s;
}
.label:hover {
  width: 300px;
  background-color: rgb(187, 38, 38);
  color: rgb(238, 227, 227);
  height: 40px;
  position: absolute;
  margin-top: 200px;
  font-size: 26px;
  font-weight: 600;
  opacity: 1;
}
.ukuran1 {
  width: 300px;
}
